.App {

  position: absolute;
  height: 100%;
  width: 100%;
  color: #333;

  div {
    background: rgba(200, 100, 150, .2);

    border: 20px solid rgba(153, 153, 255, .25);
    border-right-color: rgba(255, 153, 153, .25);
    border-top-color: rgba(255, 200, 153, .25);
    border-bottom-color: rgba(200, 153, 153, .25);

    // border-radius: 200px;

  }
  // border: 2px solid rgba(0,0,225,.5);

  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
  align-items: stretch;

  // flex-grow: 1;

  label {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-style: italic;

    // background: blue
  }

  button {
    outline: none;
    font-size: 100%;
    color: white;
    margin: 0;
    background: rgba(150, 150, 200, .4);

    border-width: medium;
    border-bottom-color: rgba(150, 150, 200, .5);
    border-right-color: rgba(150, 150, 200, .5);
  }

  input[type=text],
  input[type=number] {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(150, 150, 200, .5);
    margin: 5px;

    font-size: medium;
  }
}
