.Browser {
  flex-grow: 1;

  color: #45f;

  table {
    th {
      background: #ffeaf9;
    }
    .sortBy {
      background: #fbe;
    }
    td {
      background: #fdf;
    }
    #title, #artist {
      width: 15vw;
    }
    .title, .artist, .bpm {
      padding: 0 10px;
    }
    .bpm {
      text-align: right;
    }
  }
}
