.Browser {
  flex-shrink: 1;

  color: #45f;
  overflow-y: scroll;

  height: 70%;

  table {
    th {
      background: #ffeaf9;
    }
    .sortedBy {
      background: #f6c;
    }
    td {
      background: #fdf;
    }
    #title, #artist {
      width: 15vw;
    }
    .queue {
      min-width: 60px;
      text-align: center;
    }
    .title, .artist, .bpm {
      padding: 0 10px;
    }
    .bpm {
      text-align: right;
    }

    // height: 2vh;
  }
}
