.Controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    border: none;
    background: none;
  }

  .toggles {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .top {
      display: flex;
      justify-content: space-around;

      .buttons {
        .play-pause {
          font-size: x-large;
        }
      }
    }
  }

  .sliders {

  }

  .DoubleHalf, .Volume {
    text-align: center;

    .double-half-buttons {
      display: flex;
      border: none;
      justify-content: center;
    }
  }
}
