.Controls {
  display: flex;
  flex-wrap: wrap;

  div {
    // flex-grow: 1;

    border: none;
    // border: 1px solid green;

    div {
      // border: 1px solid blue;
    }


  }
  .buttons {
    flex-grow: 1;
  }

  .sliders {

  }

  .DoubleHalf, .Volume {
    text-align: center;
    .buttons {
      display: flex;
      border: none;
    }
  }
}
