.Controls {
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;

  div {
    border: none;
    // border: 1px solid green;
    background: none;

    padding: 1%;
  }

  .toggles {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .top {
      display: flex;
      flex-direction: column;

      justify-content: space-around;

      .buttons {
        display: flex;
        justify-content: space-around;
        .play-pause {
          font-size: x-large;
        }
      }

      .checkboxes {
        .Loop {
          .loopSettings {
            font-size: x-small;
            display: flex;
            justify-content: space-between;

            div {
              text-align: center;
              white-space: nowrap;
              span {
                display: flex;
              }
            }

            input {
              width: 50%;
            }
          }
          .hidden {
            visibility: hidden;
          }
        }
      }
    }
  }

  .sliders {

  }

  .DoubleHalf, .Volume {
    text-align: center;

    .double-half-buttons {
      display: flex;
      border: none;
      justify-content: center;
    }
  }
}
