div {
  border: 2px solid rgba(225,0,225,.5);

  margin: 10px;

  // text-align: center;
  // align-items: center;
}

ul {
  padding: 0;
  list-style: none;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
