.MasterControls {
  display: flex;

  div {
    text-align: center;

    // flex-grow: 1;
  }

  .MasterPlayPause {
    button {
      height: 100%;
      width: 100%;
      min-width: 120px;

      font-size: xx-large;
    }

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
}
