.MasterControls {
  display: flex;
  position: relative;

  div {
    text-align: center;
  }


  .MasterPlayPause {
    min-width: 120px;
    button {
      height: 100%;
      width: 100%;

      font-size: xx-large;
    }
  }

  .Help {
    width: 10px;
    button {
      height: 100%;
      width: 100%;

      font-size: xx-large;
    }
    .Info {
      position: absolute;
      right: 20px;
      padding: 5%;
      text-align: justify;

      background: #eeccdd;
      color: #666;

      h3 {
        text-align: center;
      }

      label {
        text-align: center;
      }

      hr {
        border: none;
        border-bottom: 1px dashed;
      }

      ul {
        list-style: square;
        display: flex;

        span {
          border: none;
          margin: 11px;
          padding: 0;
          background: none;
        }
      }

      strong {
        color: #ff1ebb;
      }

      em {
        color: #999;
      }
    }
    .hidden {
      display: none;
    }
  }
}
