.Upload {
  form {
    display: flex;

    flex-direction: column;

    .fields {
      display: flex;
      * {
        flex-grow: 1;
      }
    }
    .submit {
      display: flex;
      justify-content: space-between;
    }
  }
  // div {
  //   flex-basis: 1;
  // }
  //
  // .upload.label {
  //   text-decoration: underline;
  //   cursor: pointer;
  //   color: #f39;
  // }
  // #upload {
  //   opacity: 0;
  //   height: 0;
  //   width: 0;
  // }
}
