.Upload {
  display: flex;
  justify-content: space-around;
  // flex-direction: column;
  align-items: flex-end;
  // div {
  //   flex-basis: 1;
  // }
  //
  // .upload.label {
  //   text-decoration: underline;
  //   cursor: pointer;
  //   color: #f39;
  // }
  // #upload {
  //   opacity: 0;
  //   height: 0;
  //   width: 0;
  // }
}
